<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>edit disk</title>
</head>
<body class="container">
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Введите название диска</label><br>
            <input type="text" name="name" value="{{disk.name}}" />
        </p>
        <p>
            <label>Введите ёмкость</label><br>
            <input type="text" name="capacity" value="{{disk.capacity}}" />
        </p>
        <p>
            <label>Введите название библиотеки</label><br>
            <input type="text" name="cdLib" value="{{disk.cdLib.name}}" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>
</body>
</html>