<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>рк2</title>
</head>
<body class="container">
    <form method="POST" action="create_disk/">
        {% csrf_token %}

        <h2>Добавление нового диска</h2>
        <p>
            <label>Введите название диска</label><br>
            <input type="text" name="name" />
        </p>
        <p>
            <label>Введите ёмкость</label><br>
            <input type="text" name="capacity" />
        </p>
        <p>
            <label>Введите название библиотеки</label><br>
            <input type="text" name="cdLib"/>
        </p>
        <input type="submit" value="Сохранить" >
    </form>

    <form method="POST" action="create/">
        {% csrf_token %}

        <h2>Добавление новой библиотеки</h2>
        <p>
            <label>Введите название библиотеки</label><br>
            <input type="text" name="name_lib" />
        </p>
        <input type="submit" value="Сохранить" >

        <h2>Список библиотек</h2>
        <table>
            <tr>
                
                <th>Название</th>
            </tr>
            {% for lib in libs %}
            <tr>
                <td>{{ lib.name }}</td>
                <td><a href="edit_lib/{{lib.id}}">Изменить</a> | <a href="delete_lib/{{lib.id}}">Удалить</a></td>
            </tr>
            {% endfor %}
        </table>


        {% if disks.count > 0 %}
        <h2>Список дисков</h2>
        <table>
            <tr>

                <th>Название</th>
                <th>Ёмкость</th>
                <th>Библиотека</th>
            </tr>
            {% for disk in disks %}
            <tr>

                <td>{{ disk.name }}</td>
                <td>{{ disk.capacity }}</td>
                <td>{{ disk.cdLib.name }}</td>
                <td><a href="edit/{{disk.id}}">Изменить</a> | <a href="delete/{{disk.id}}">Удалить</a></td>
            </tr>
            {% endfor %}
        </table>
            {% endif %}

        {% for lib in libs %}
            <h3>Диски в библиотеке {{ lib.name }}:</h3>
            {% for disk in disks %}
                {% if lib.name == disk.cdLib.name %}
                <li>{{disk.name}}</li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </form>
</body>
</html>