{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if data.id == 1 %}
        <div>Картинки с котиками:</div>
        <li>
            Нарядный котик:
            <br><img width="200px" height="200px" src="{% static 'images/cat1.jpg'%}"></br>
        </li>
        <li>
            Толстый котик:
            <br><img width="200px" height="200px" src="{% static 'images/cat3.jpg'%}"></br>
        </li>
        <li>
            Паникующий котик:
            <br><img width="200px" height="250px" src="{% static 'images/cat4.jpg'%}"></br>
        </li>
        <li>
            Печальный котик:
            <br><img width="200px" height="230px" src="{% static 'images/cat2.jpg'%}"></br>
        </li>
        <li>
            Сладкая булочка:
            <br><img width="200px" height="200px" src="{% static 'images/cat5.jpg'%}"></br>
        </li>

    {% endif %}

    {% if data.id == 2 %}
    <div>Картинки с собачками:</div>
        <li>
            Хороший мальчик:
            <br><img width="200px" height="200px" src="{% static 'images/dog2.jpg'%}"></br>
        </li>
        <li>
            Хороший мальчик:
            <br><img width="200px" height="230px" src="{% static 'images/dog1.jpg'%}"></br>
        </li>
        <li>
            Хороший мальчик:
            <br><img width="200px" height="200px" src="{% static 'images/dog3.jpg'%}"></br>
        </li>
    {% endif %}

    {% if data.id == 3%}
    <div>Просто картинки:</div>
    Картинка одна, потому что мне лень
    <br><img width="200px" height="250px" src="{% static 'images/img1.jpg'%}"></br>
    {% endif %}

{% endblock %}